<th:block th:insert="common/admin/top"></th:block>  

<script>
	document.title='GudMarket - Forgot Password'
</script>
<div class="container">
    <form name='f' th:action="@{/forgotpassaction}" method="post" th:object="${user}" class="login-form" style="height: 440px;">
                      
                        <h2>Reset Password</h2>
                        <p class="message"></p>
                        <div>
                          <div class="txtb">
                            <input type="email" name="email" id="email" th:field="*{email}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Invalid input value. Example: example@gmail.com" require="required">
                            <span data-placeholder="Email"></span>
                          </div>

                          <input type="submit" class="logbtn" id="btnlogin" value="Send Me Instructions" name="btnlogin">
                          <input type="hidden" name="admin_login" value="1">	
                        		
						      <div class="row" style="margin-top:20px;">
						       <div class="col-md-12">
						        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" 
						        	class="alert alert-danger alert-dismissable" style="border-radius:0;">
						         <p style="position: relative; margin:0;">
						          <i class="icon fa fa-ban"></i>
						         </p>
						        </div>
						       </div>
						  </div>
						  
                          <div class="bottom-login">
                            <a th:href="@{/login}">Return Login page</a>
                          </div>
                        </div>
                        
                        
                    
                  </form>
    </div>

<th:block th:insert="common/admin/footer"></th:block>  