<th:block th:include="/common/admin/top"></th:block>  

<script>
	document.title='GudMarket - Register'
</script>
<div class="container">
    <form name='f' th:action="@{/registrationPhone}" th:object="${user}" method="post" class="register-form">
                      
                        <h2>Register</h2>
                        <p class="message"></p>
                        <div>
                          <div class="txtb">
                            <input type="text" name="phone" th:field="*{phone}" pattern="^\+?(?:[0-9]??).{5,14}[0-9]$" title="Input value not a Phone Number. Example: 0123456789" require="required">
                            <span data-placeholder="Phone Number"></span>
                          </div>
                          <div class="txtb">
                            <input type="password" id="password" th:field="*{password}" pattern=".{6,}" title="Password must have 6 or more characters" require="required">
                            <span data-placeholder="Password"></span>
                          </div>
                          <div class="txtb">
                            <input type="password" id="confirm_password" require="required">
                            <span data-placeholder="Confirm Passowrd"></span>
                          </div>
                          <input type="submit" class="logbtn" id="btnlogin" value="Register" name="btnlogin">
                          <input type="hidden" name="admin_login" value="1">
                          <input th:field="*{enabled}" type="hidden">
                          
                          <div class="row" style="margin-top:20px;">
						       <div class="col-md-12">
						        <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" 
						        	class="alert alert-danger alert-dismissable" style="border-radius:0;">
						         <p style="position: relative; margin:0;">
						          <i class="icon fa fa-ban"></i>
						         </p>
						        </div>
						       </div>
						  </div>
						  
						      
                          <div class="bottom-login">
                            <a th:href="@{/login}">Return Login page</a>
                          </div>
                          <div class="bottom-login">
                            <a th:href="@{/register}">Register By Email</a>
                          </div>
                        </div>
                        
                        
                    
                  </form>
    </div>

<th:block th:include="/common/admin/footer"></th:block>  