<th:block th:insert="common/webapp/top"></th:block>  
<th:block th:insert="common/webapp/navbar"></th:block>  

<script>
	document.title='GudMarket - Change Phone';
</script>

<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/webapp/images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			Change Phone Number
		</h2>
	</section>	


	<!-- Content page -->
	<form class="bg0 p-t-75 p-b-85" th:action="@{/doChangePhone}" th:object="${user}" method="post">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<div th:if="${message}" class="alert alert-danger alert-dismissable" style="border-radius:0;">
					         <p style="position: relative; margin:0;">
					          <i class="icon fa fa-ban"></i>
					          <span th:text="${message}"></span>
					         </p>
					        </div>
						  
						<div class="flex-w flex-t p-t-15 p-b-15">
							<span class="mtext-110 cl2">
								Validation Code:
							</span>		
							<input class="size-111 bor8 stext-102 cl2 p-lr-20 m-t-15" type="number" name="code" required>
						</div>
						<input th:field="*{email}" type="hidden">
                          <input type="hidden" id="phone" name="phone" th:value="${phone}">
                          
                          

						<button type="submit" class="flex-c-m stext-101 m-t-30 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            Submit
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	

<th:block th:insert="common/webapp/footer"></th:block>  