<th:block th:include="/common/admin/top"></th:block>  

<script>
	document.title='GudMarket - Set Passowrd'
</script>
<div class="container">
    <form name='f' th:action="@{/doSetPassword}" th:object="${user}" method="post" class="register-form">
                      
                        <h2>Set Password</h2>
                        <h4 style="font-size:15px; text-align:center;">Please Set Password for your account:</h4>
                        <b style="font-size:20px; text-align:center;" th:text="${user.email}"></b>
                        <p class="message"></p>
                        <div>
                          <div class="txtb">
                            <input type="password" id="password" th:field="*{password}" pattern=".{6,}" title="Password must have 6 or more characters" require="required">
                            <span data-placeholder="Password"></span>
                          </div>
                          <div class="txtb">
                            <input type="password" id="confirm_password" require="required">
                            <span data-placeholder="Confirm Passowrd"></span>
                          </div>
                          <input type="submit" class="logbtn" id="btnlogin" value="Submit" name="btnlogin">
                          <input type="hidden" name="admin_login" value="1">
                          <input th:field="*{id_user}" type="hidden">
                          <input th:field="*{email}" type="hidden">
                          <input th:field="*{full_name}" type="hidden">
                          
        
                          <div class="bottom-login">
                            <a th:href="@{/login}">Return Login page</a>
                          </div>
                        </div>
                        
                        
                    
                  </form>
    </div>

<th:block th:include="/common/admin/footer"></th:block>  