<th:block th:include="/common/admin/top"></th:block>  

<script>
	document.title='GudMarket - Verification Successful'
</script>
<div class="container">
    <form name='f'  method="post" class="success-form">
                      
                        <h2 th:utext="${message}"></h2>
                        <br>
                        <h2 style="font-weight: normal;">You will be redirected to the Home page automatically!</h2>
                        <h2 style="font-weight: normal; font-size:15px;">Please wait for a while or click the link below:</h2>
                          <div class="bottom-login">
                            <a th:href="@{/index}">Home page</a>
                          </div>
                        
                  </form>
    </div>

<script>
window.setTimeout(function(){
	window.location.href='index';
	}, 4000);
</script>
<th:block th:include="/common/admin/footer"></th:block>  