<th:block th:insert="common/admin/top"></th:block>  

<script>
	document.title='GudMarket - Payment Success'
</script>
<div class="container">
    <form name='f'  method="post" class="success-form">
                      
                        <h2>Your Payment has been successful!</h2>
                        <br>
                          <div class="bottom-login">
                            <a th:href="@{/index}">Return Home page</a>
                          </div>
                        
                  </form>
    </div>


<th:block th:insert="common/admin/footer"></th:block>  