<th:block th:include="/common/webapp/top"></th:block>  
<th:block th:include="/common/webapp/navbar"></th:block>  
<script>
		document.title='GudMarket - Upgrade Account'
</script>

<!-- Upgrade -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-10 col-lg-3 col-xl-4 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30" style="color: #847c7b;" >
							Silver
						</h4>

						<div class="flex-w flex-t bor12 p-b-13" >
							

							<div class="size-209" >
								<span class="stext-110 cl2" style="color: #847c7b;">
									$
								</span>
								<span class="ltext-106 cl5 txt-center" style="color: #847c7b;" >
									60.25
								<span class="stext-110 cl2" style="color: #847c7b;">
									/year
								</span>
								</span>
							</div>
						</div>

						<div class="flex-w flex-t  p-t-15 p-b-30">
							<div style="margin-top: 20px; margin-bottom: 15px;">
								<span class="stext-110 cl2" >
									Includes these features:
								</span>
							</div>

							<div>
								<p class="stext-111 cl6 p-t-2" style="margin-bottom: 5px;">
									<span class="lnr lnr-checkmark-circle"></span>
									You can post 30 posts per month
								</p>

								<p class="stext-111 cl6 p-t-2" style="margin-bottom: 5px;">
									<span class="lnr lnr-checkmark-circle"></span>
									There are 5 prior posts per month
								</p>
								<p class="stext-111 cl6 p-t-2" style="margin-bottom: 5px;">
									<span class="lnr lnr-checkmark-circle"></span>
									  Greating support of admin staff
								</p>
								<p class="stext-111 cl6 p-t-2" style="margin-bottom: 5px; margin-bottom: 50px;">
									<span ></span>
									
								</p>
							</div>
						</div>
						<a href="upgradeSilver.html" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Upgrade
						</a>
					</div>
				</div>

				<div class="col-sm-10 col-lg-3 col-xl-4 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30" style=" color: #aa771c; ">
							Gold	
						</h4>

						<div class="flex-w flex-t bor12 p-b-13" >
							

							<div class="size-209" >
								<span class="stext-110 cl2" style="color: #aa771c;">
									$
								</span>
								<span class="ltext-106 cl5 txt-center" style="color: #aa771c;" >
									80.25
								<span class="stext-110 cl2" style="color: #aa771c;">
									/year
								</span>
								</span>
							</div>
						</div>

						<div class="flex-w flex-t  p-t-15 p-b-30">
							<div style="margin-top: 20px; margin-bottom: 15px;">
								<span class="stext-110 cl2" >
									Includes these features:
								</span>
							</div>

							<div>
								<p class="stext-111 cl6 p-t-2" style="margin-bottom: 5px;">
									<span class="lnr lnr-checkmark-circle"></span>
									You can post 90 posts per month 
								</p>
								<p class="stext-111 cl6 p-t-2" style="margin-bottom: 5px;">
									<span class="lnr lnr-checkmark-circle"></span>
									There are 15 prior posts per month
								</p>
								<p class="stext-111 cl6 p-t-2" style="margin-bottom: 5px;">
									<span class="lnr lnr-checkmark-circle"></span>
									Great supporting of staff admin
								</p>
								<p class="stext-111 cl6 p-t-2" style="margin-bottom: 5px; margin-bottom: 50px;">
									<span ></span>
									
								</p>					
								
								
							</div>
						</div>


						<a href="upgradeGold.html" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Upgrade
						</a>
					</div>
				</div>

				<div class="col-sm-10 col-lg-3 col-xl-4 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30" style=" color: #734b6d; ">
							Platinum
						</h4>

						<div class="flex-w flex-t bor12 p-b-13" >
							

							<div class="size-209" >
								<span class="stext-110 cl2" style="color: #734b6d;">
									$
								</span>
								<span class="ltext-106 cl5 txt-center" style="color: #734b6d;" >
									90.65
								<span class="stext-110 cl2" style="color: #734b6d;">
									/year
								</span>
								</span>
							</div>
						</div>

						<div class="flex-w flex-t  p-t-15 p-b-30">
							<div style="margin-top: 20px; margin-bottom: 15px;">
								<span class="stext-110 cl2" >
									Includes these features:
								</span>
							</div>

							<div>
								<p class="stext-111 cl6 p-t-2" style="margin-bottom: 5px;">
									<span class="lnr lnr-checkmark-circle"></span>
									Post as many posts as you want 
								</p>
								<p class="stext-111 cl6 p-t-2" style="margin-bottom: 5px;">
									<span class="lnr lnr-checkmark-circle"></span>
									Always priority
								</p>
								<p class="stext-111 cl6 p-t-2" style="margin-bottom: 5px;">
									<span class="lnr lnr-checkmark-circle"></span>
									Great supporting of staff admin 
								</p>
								<p class="stext-111 cl6 p-t-2" style="margin-bottom: 5px; margin-bottom: 50px;">
									<span ></span>							
								</p>					
								
							</div>
						</div>

						<a href="upgradePlatinum.html" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Upgrade
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</form>


<th:block th:include="/common/webapp/footer"></th:block>  